{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>My Table</title>
</head>

<body>
    
    <a href="{% url 'addgoal' %}">Add Goal</a>
    <style>
        table, th, td {
           border: 1px solid black;
        }
     </style>
    <table style="width: 100%">
        <tr>
            <th>User</th>  
            <th>Weekly Goal</th>
            <th> Daily Goal </th>
            <th> Done Goal </th>
            <th>Verify Goal</th>   
        </tr>  
        
        {% for user in user %}
            <tr>
            
                <td>{{user}}</td>   
                <td>
                    {% for week in week_goal %}
                    
                        <a href="{% url 'movegoal' week.goal_id %}">{{week}}, goal-id = {{week.goal_id}}</a><br /> 
                        
                    {% endfor %}
                    
                </td>
                
                <td>
                    {% for day in Day_goal %}

                    <a href="/movegoal/{{day.goal_id}}">{{day}},  goal-id = {{day.goal_id}}</a><br />
                    
                    {% endfor %}
                </td>
                
                <td>
                    {% for done in Done_goal %}
                    <a href="/movegoal/{{done.goal_id}}">{{done}},  goal-id = {{done.goal_id}}</a><br />
                    
                    {% endfor %}  
                </td>
                
                <td>
                    {% for very in Very_goal %}
                    <a href="/movegoal/{{very.goal_id}}">{{very}}, goal-id = {{very.goal_id}}</a><br />
                    
                    {% endfor %}
                    
                </td>
                
               
            </tr>

        {% endfor %} 
    </table>
   
</body>

</html>